<div
  class="token"
  [style.backgroundImage]="token.key | gradient"
  cdkDrag
  (cdkDragStarted)="freeze.emit()"
  (cdkDragEnded)="unfreeze.emit()"
>
  <div class="handle" cdkDragHandle><mat-icon>drag_indicator</mat-icon></div>
  <div class="content">
    <div class="label">{{ token.label }}</div>
    <div class="code"><app-token-code [visible]="token.visible" [code]="token.code"></app-token-code></div>
  </div>
  <div class="countdown">
    <app-countdown [timeLeft]="token.timeLeft"></app-countdown>
  </div>
  <div class="toggle-visibility" (click)="token.visible = !token.visible">
    <mat-icon>{{ token.visible ? 'visibility_off' : 'visibility' }}</mat-icon>
  </div>
  <div class="copy" (click)="copy.emit(token.code)"><mat-icon>content_copy</mat-icon></div>
</div>
