@import 'app-theme.scss';

.token {
  display: flex;
  align-items: center;
  margin: 16px;
  border-radius: 8px;
  padding: 20px 16px;
  justify-content: space-between;
  color: white;
  text-shadow: 0 0 5px rgba(black, 0.35);

  .label {
    font-size: 0.8rem;
    user-select: none;
  }

  .handle {
    margin-right: 12px;
    display: flex;
  }

  .countdown,
  .zoom,
  .toggle-visibility,
  .copy {
    margin: 0 12px;
    display: flex;
  }

  .content {
    flex-grow: 1;
  }

  .field {
    width: 80%;
    margin-bottom: -20px;
    color: white;

    ::ng-deep {
      .mat-focused, .mat-form-field-label {
        color: $font-color;
      }

      .mat-form-field-ripple {
        background-color: $font-color;
      }
    }
  }
}

