@import 'app-theme.scss';

.token {
  display: flex;
  align-items: center;
  margin: 16px;
  border-radius: 8px;
  padding: 20px 16px;
  justify-content: space-between;
  color: white;

  .label {
    font-size: 0.8rem;
  }

  .handle {
    margin-right: 12px;
    display: flex;
  }

  .countdown,
  .zoom,
  .toggle-visibility,
  .copy {
    margin: 0 12px;
    display: flex;
  }

  .content {
    flex-grow: 1;
  }
}

