@import 'mixins.scss';

$theme-color-1: hsl(210, 100%, 85%);
$theme-color-2: hsl(210, 100%, 80%);
$theme-color-3: hsl(210, 100%, 75%);
$theme-color-4: hsl(210, 100%, 70%);
$theme-color-5: hsl(210, 100%, 65%);
$theme-color-6: hsl(210, 100%, 60%);
$theme-color-7: hsl(210, 100%, 55%);
$theme-color-8: hsl(210, 100%, 50%);
$theme-color-9: hsl(210, 100%, 45%);
$theme-color-10: hsl(210, 100%, 40%);

$theme-color: $theme-color-5;

$theme-light: $theme-color-9;
$theme-default: $theme-color;
$theme-hover: $theme-color-4;
$theme-pressed: $theme-color-2;

$theme-background: hsl(210, 0%, 15%);

$warn-color-1: hsl(0, 100%, 85%);
$warn-color-2: hsl(0, 100%, 80%);
$warn-color-3: hsl(0, 100%, 75%);
$warn-color-4: hsl(0, 100%, 70%);
$warn-color-5: hsl(0, 100%, 65%);
$warn-color-6: hsl(0, 100%, 60%);
$warn-color-7: hsl(0, 100%, 55%);
$warn-color-8: hsl(0, 100%, 50%);
$warn-color-9: hsl(0, 100%, 45%);
$warn-color-10: hsl(0, 100%, 40%);

$warn-color: $warn-color-5;

$warn-light: $warn-color-9;
$warn-default: $warn-color;
$warn-hover: $warn-color-4;
$warn-pressed: $warn-color-2;

$font-color: rgb(255, 255, 255, 0.8);
$theme-font: 'Roboto', 'Tahoma', sans-serif;

$white: rgba(0, 0, 0, 1);
$black: rgba(255, 255, 255, 1);
